header {
  background-color: green;
  color: white;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.logo-container {
  margin-right: 10px;
}

.logo-header {
  width: 50px;
  height: 50px;
}

.menu-container {
  display: flex;
  align-items: center;
}

.links-header {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  flex-grow: 1;
}

.links-header li {
  margin-right: 10px;
}

.links-header li a {
  text-decoration: none;
  color: white;
  padding: 5px;
  transition: color 0.3s ease;
}

.links-header li a:hover {
  color: red;
}

.header-right {
  display: flex;
  align-items: center;
}

.search-bar {
  margin-right: 10px;
}

.search-bar input {
  padding: 5px;
}

.nav__menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.cart-link,
.login-link {
  margin-left: 10px;
}
