/* CSS para estilizar a home page */

/* Estilo do container principal */
.home-container {
  margin-top: 100px; /* Espaço entre o header e o conteúdo */
  padding: 20px;
}

/* Estilo do título de boas-vindas */
.welcome h1 {
  font-size: 32px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

/* Estilo do subtítulo */
.welcome h2 {
  font-size: 24px;
  color: #666;
  margin-bottom: 40px;
}

/* Estilo do conteúdo da página principal */
.home-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Estilo do rodapé */
.footer {
  margin-top: 40px; /* Espaço entre o conteúdo e o rodapé */
}
