.product-cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
  }
  
  @media (max-width: 768px) {
    .product-cards-container {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }
  }
  
  .product-cards-container__top {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }
  
  .product-cards-container__bottom {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
  }
  