.product-card {
  border: 1px solid #000;
  border-radius: 10px;
  padding: 10px;
  height: 400px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 100%; /* Definir uma largura fixa */
  overflow: hidden; /* Para evitar que as imagens excedam o tamanho do container */
}

.product-image img {
  height: 100%; /* Usar altura de 100% para preencher o container */
  object-fit: contain; /* Garantir que a imagem mantenha a proporção e não distorça */
}

.product-title {
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
}

.product-price {
  text-align: center;
  margin-top: 10px;
}

.add-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  background-color: green;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-button:hover {
  background-color: darkgreen;
}

.see-more-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: green;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.see-more-button:hover {
  background-color: darkgreen;
}
